button {
  background-color: var(--background-main);
  color: var(--color-text-button);
  border-color: var(--color-text-button);
  border-style: solid;
  display: grid;
  justify-content: center;
  width: 10rem;
  cursor: pointer;
  border-radius: 0.3rem;
}
